body, p {
    font-family: Droid Serif, serif;
}
h1, h2, h3, svg {
    font-family: Droid Sans, sans;
}

body {
    background-image: url("http://31.media.tumblr.com/05551e707b4b2145352febbdc7dee99f/tumblr_inline_mr6k63GXwD1qz4rgp.jpg");
}

#leftbar {
    width: 250px;
    height: 100%;
    border: 1px solid black;
    background-image: url("http://www.altavetta.com/sites/default/files/Medicinal%20Chemistry%20Image.jpg");
    background-size: 300px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: local;
    background-color: white;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-shadow: 10px 0 10px 0px #888;
            box-shadow: 10px 0 10px 0px #888;
}

#rightbar {
    width: 750px;
    padding: 20px;
    padding-top: 0px;
}

.floaty {
    float: left;
}

.reactionDroppableSquare {
    width: 50px;
    height: 50px;
    background-color: black;
    padding: 10px;
    color: white;
}

small {
    text: 20%;
}

.reactionDroppableLabel {
    margin: 10px;
}

#target {
    background-color: #DDD;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 auto;
    width: 200px;
}

#share {
    color: blue;
}

#inProgressReaction {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DDD;
    margin: 10px;
    padding: 10px;
}

#inProgressReaction:hover {
    cursor: pointer;
}

#inProgressReaction:empty {
    display: none;
}

#toolkit {
    width: 300px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.clearer {
    clear: both;
}



.molecule {
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    float: left;
    border-radius: 20px;
}
.molecule:hover {
    background-color: white;
    cursor: pointer;
}

.selectedMolecule {
    background-color: cornsilk;
}


