<html>
<head>
<script src="{{STATIC_URL}}/libraries/jquery-ui/external/jquery/jquery.js"></script>
<script src="{{STATIC_URL}}/libraries/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/libraries/jsPlumb.min.js"></script>
<script src="{{STATIC_URL}}synthesis_problem.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}synthesis_problem.css"></link>
<link rel="stylesheet" href="{{STATIC_URL}}/libraries/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}/libraries/jquery-ui/jquery-ui.theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400italic,400,700italic' rel='stylesheet' type='text/css'>
<title>Synthesis Practice</title>

<script>
$(document).ready(function() {
    synthesisProblemMain({
        startingMoleculeSvgs: {{starting_svgs|safe}},
        startingMoleculeSmileses: {{starting_smileses|safe}},
        targetMoleculeSvg: {{target_svg|safe}},
        targetMoleculeSmiles: {{target_smiles|safe}},
        dropdownList: {{dropdown_list|safe}}
    });
});

function share() {
    fancyAlert("This URL will show the same problem next time: " + window.location.href, "Share");
}

function help() {
    fancyAlert("You have, in your possession, each of the molecules on the right (in separate containers, one container per square). Your goal is to manufacture the Target Molecule, at left.\n\nTo accomplish this task, you can apply reactions to your molecules. Add a reaction by typing in the box at left to search for the reaction you wish to use, then selecting the molecules you wish to use as inputs.\n\nGood luck!", "Help");
}

function about() {
    fancyAlert("Carbonate Simplified, by Chelsea Voss with contributions from Felix Sun, Virup Gubba, Katie Sedlar, and Ray Hua Wu. Spring 2015. Contact csvoss@mit.edu to report issues.", "About");
}

function fancyAlert(message, title)  {
	$('#override_javascript_alert').text(message).dialog({
		modal:true,
		title:title,
		buttons: {
			'OK':function(){
				$(this).dialog('close');
			}
		}
	});
};

</script>
</head>


<body>
<div id="leftbar" class="floaty">
  <h1>Laboratory</h1>
  <div id="buttons">
    <p>
      <button onclick="window.location.href='/{{next_random_seed}}'">New</button>
      <button onclick="share();">Share</button>
      <button onclick="help();">Tutorial</button>
      <button onclick="about();">About</button>
    </p>
  </div>
  <h2>Apply a Reaction</h2>
  <input id="toolkit" placeholder="Type a reaction name..."></input>
  <div id="inProgressReaction"></div>
  <h2>Target Molecule</h2>
  <div id="target"></div>
</div>
<div id="rightbar" class="floaty">
  <h1>Workspace</h1>
  <div id="workspace"></div>
</div>
</body>

<div id="override_javascript_alert"></div>


</html>
